.header{
    background: url('../img/images3.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 500px;
    position: relative;
}
.bg-color
{
    background-color: rgba(0, 0, 6, 0.9);
    min-height: 500px;
}
.fa{
  color:  rgba(7,35,49, 10);
  font-size: 60px;  
  margin-top: 30%;
}
.fa:hover{
  color: grey;
}

